* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: rgb(20, 19, 26);
  color: #e5e5e5;
}

a {
  color: #a855f7;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}